body{
    background-color: #ede7e3;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7D5E2A;
}
P{
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    text-align: center;
}
#im1{
    width: 100%;
    height: 500PX;
   

}
.li1{
    color: #fffcdc;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    list-style: none;
}
h3{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
   color: black;
   margin-top: 40px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.card{
    
    
    float: left;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow:rgb(119, 165, 127),rgb(rgba(50, 75, 25, 0.667));
   
}
.card:hover{
    box-shadow: 0px 14px 28px rgba(38, 89, 23, 0.24);
    transform: translate(0 3px);
    
}
button{
 text-align: center;
 font-size: 24px;        
 width: 100%;
border: 0;
border-radius: 5PX;
 }
button:hover{
    color: antiquewhite;
     background-color: #14281D;
     
}
         .stars li {
            font-size: 2rem;
            color: lightgray;
            transition: color 0.3s ease;
          }
          
          
          
          .gallery{
            display: flex;
            
            width: 100%;
            justify-content: center;
            align-items: center;
        
        }
        img{
    
            width: 400px;
            height: 250px;
            margin-bottom: 10px;
        
            border-radius: 10px
        }
        .bi{
            font-size: 25px;
            transition: .4s;
            margin: 3px;
        }
        .bi:hover{
            color: gold;
        }
        footer{
            background-color:#7D5E2A ;
            background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        margin-top: 150px;
        border-radius: 10px;
        }
        .footer p{
            font-weight: lighter;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        color: beige;
        }
        i{
            font-size: 35px;
            color: beige;
        }
        footer .right{
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: right;
        color: beige;
        }
        .bi-facebook:hover,.bi-instagram:hover{
            color:lightblue
        }
        .bi-facebook,.bi-instagram{
            float: right;
            color: rgb(255, 255, 255);
           
            
        }
        .card-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 20px;
          }
        .card:hover .card-video {
            opacity: 1;
          }
          h3{
            color:#7D5E2A
          }
          #pl{
            color: #7D5E2A;
            text-align: center;
          }
        