
body {
  background-image: url('login6.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.max-w-3xl {
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}


input, select {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none;
  border-color: #3490dc;
  box-shadow: 0 0 5px rgba(52, 144, 220, 0.5);
}
